body {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  background: url('./img/fon1.jpeg') 50% no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
#wrapper {
  display: block;
  width: 100%;
  height: auto;
}
.layout {
  display: block;
  width: 1440px;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
}
.center_menu {
  display: none;
}
.logo a {
  display: flex;
  flex-direction: row;
}

.logo h3 {
  text-align: center;
}
.logo img,
.logo h1,
.logo h3 {
  cursor: pointer;
  color: rgb(43, 41, 41);
}
.logo hr {
  width: 70%;
  border: 1px solid #455b5f;
}
a {
  text-decoration: none;
}
.marginHeaderH1 {
  margin-top: 20px;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 105px;
  padding-top: 70px;
}
nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4) {
  margin-left: 55px;
}
nav ul li {
  list-style: none;
  transition: 0.5s linear;
}
nav ul li a {
  font-family: 'OpenSans Regular';
  font-size: 25px;
  color: rgb(43, 41, 41);
}
nav ul li:hover a {
  color: orangered;
}
nav ul li:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s linear;
}

form,
main h2,
footer h2 {
  text-align: center;
  color: rgb(43, 41, 41);
}
.fields {
  display: flex;
  justify-content: center;
}
.namePhone input {
  display: block;
  width: 180px;
  height: 80px;
  font-family: 'OpenSans Regular';
  font-size: 18px;
  color: rgb(43, 41, 41);
  text-align: center;
  margin-right: 1px;
  border: 1px solid #455b5f;
}
textarea {
  resize: none;
  font-family: 'OpenSans Regular';
  font-size: 26px;
  color: rgb(43, 41, 41);
  border: 1px solid #455b5f;
}
.namePhone input:focus,
textarea:focus {
  outline-color: orange;
}
button {
  cursor: pointer;
  display: block;
  width: 120px;
  height: 30px;
  background: #455b5f;
  color: #fff;
  font-family: 'OpenSans Regular';
  font-size: 18px;
  margin: 0 auto;
  margin-top: 3px;
  border: none;
}
button:focus {
  outline-color: orange;
}

.allBlocks {
  display: block;
  flex-direction: column;
  text-align: center;
}
.firstLine,
.secondLine,
.thirdLine,
.fourthLine,
.fifthLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sixLine {
  display: flex;
  justify-content: center;
}
.sixLine .secondBlock {
  margin-left: 10px;
}

.firstLine .firstBlock,
.firstLine .secondBlock,
.firstLine .thirdBlock,
.firstLine .fourthBlock,
.firstLine .fifthBlock,
.secondLine .firstBlock,
.secondLine .secondBlock,
.secondLine .thirdBlock,
.secondLine .fourthBlock,
.secondLine .fifthBlock,
.thirdLine .firstBlock,
.thirdLine .secondBlock,
.thirdLine .thirdBlock,
.thirdLine .fourthBlock,
.thirdLine .fifthBlock,
.fourthLine .firstBlock,
.fourthLine .secondBlock,
.fourthLine .thirdBlock,
.fourthLine .fourthBlock,
.fourthLine .fifthBlock,
.fifthLine .firstBlock,
.fifthLine .secondBlock,
.fifthLine .thirdBlock,
.fifthLine .fourthBlock,
.fifthLine .fifthBlock,
.sixLine .firstBlock,
.sixLine .secondBlock {
  display: block;
  width: 200px;
  height: 200px;
  background: #e8f3f2;
  margin-top: 20px;
  overflow: hidden;
  opacity: 0.7;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.firstLine .firstBlock:hover img,
.firstLine .secondBlock:hover img,
.firstLine .thirdBlock:hover img,
.firstLine .fourthBlock:hover img,
.firstLine .fifthBlock:hover img,
.secondLine .firstBlock:hover img,
.secondLine .secondBlock:hover img,
.secondLine .thirdBlock:hover img,
.secondLine .fourthBlock:hover img,
.secondLine .fifthBlock:hover img,
.thirdLine .firstBlock:hover img,
.thirdLine .secondBlock:hover img,
.thirdLine .thirdBlock:hover img,
.thirdLine .fourthBlock:hover img,
.thirdLine .fifthBlock:hover img,
.fourthLine .firstBlock:hover img,
.fourthLine .secondBlock:hover img,
.fourthLine .thirdBlock:hover img,
.fourthLine .fourthBlock:hover img,
.fourthLine .fifthBlock:hover img,
.fifthLine .firstBlock:hover img,
.fifthLine .secondBlock:hover img,
.fifthLine .thirdBlock:hover img,
.fifthLine .fourthBlock:hover img,
.fifthLine .fifthBlock:hover img,
.sixLine .firstBlock:hover img,
.sixLine .secondBlock:hover img {
  transform: translateY(120px);
  transition: 0.5s linear;
  width: 64px;
  height: 64px;
}

.info ul li {
  text-align: left;
}

.firstLine .firstBlock:hover .info,
.firstLine .secondBlock:hover .info,
.firstLine .thirdBlock:hover .info,
.firstLine .fourthBlock:hover .info,
.firstLine .fifthBlock:hover .info,
.secondLine .firstBlock:hover .info,
.secondLine .secondBlock:hover .info,
.secondLine .thirdBlock:hover .info,
.secondLine .fourthBlock:hover .info,
.secondLine .fifthBlock:hover .info,
.thirdLine .firstBlock:hover .info,
.thirdLine .secondBlock:hover .info,
.thirdLine .thirdBlock:hover .info,
.thirdLine .fourthBlock:hover .info,
.thirdLine .fifthBlock:hover .info,
.fourthLine .firstBlock:hover .info,
.fourthLine .secondBlock:hover .info,
.fourthLine .thirdBlock:hover .info,
.fourthLine .fourthBlock:hover .info,
.fourthLine .fifthBlock:hover .info,
.fifthLine .firstBlock:hover .info,
.fifthLine .secondBlock:hover .info,
.fifthLine .thirdBlock:hover .info,
.fifthLine .fourthBlock:hover .info,
.fifthLine .fifthBlock:hover .info,
.sixLine .firstBlock:hover .info,
.sixLine .secondBlock:hover .info {
  background: orange;
  transform: translateY(-125px);
  width: 100%;
  transition: 0.5s linear;
  margin-top: 55px;
}

.fourthLine .firstBlock:hover .info,
.fourthLine .secondBlock:hover .info,
.fifthLine .fifthBlock:hover .info {
  height: 205px;
}

.firstLine .firstBlock:hover,
.firstLine .secondBlock:hover,
.firstLine .thirdBlock:hover,
.firstLine .fourthBlock:hover,
.firstLine .fifthBlock:hover,
.secondLine .firstBlock:hover,
.secondLine .secondBlock:hover,
.secondLine .thirdBlock:hover,
.secondLine .fourthBlock:hover,
.secondLine .fifthBlock:hover,
.thirdLine .firstBlock:hover,
.thirdLine .secondBlock:hover,
.thirdLine .thirdBlock:hover,
.thirdLine .fourthBlock:hover,
.thirdLine .fifthBlock:hover,
.fourthLine .firstBlock:hover,
.fourthLine .secondBlock:hover,
.fourthLine .thirdBlock:hover,
.fourthLine .fourthBlock:hover,
.fourthLine .fifthBlock:hover,
.fifthLine .firstBlock:hover,
.fifthLine .secondBlock:hover,
.fifthLine .thirdBlock:hover,
.fifthLine .fourthBlock:hover,
.fifthLine .fifthBlock:hover,
.sixLine .firstBlock:hover,
.sixLine .secondBlock:hover {
  opacity: 1;
  transition: 0.5s linear;
  background: wheat;
}
.firstBlock .info,
.firstBlock img,
.secondBlock .info,
.secondBlock img,
.thirdBlock .info,
.thirdBlock img,
.fourthBlock .info,
.fourthBlock img,
.fifthBlock .info,
.fifthBlock img {
  transition: 0.5s linear;
}
main ul li {
  opacity: 0;
}
.firstLine .firstBlock:hover ul li,
.firstLine .secondBlock:hover ul li,
.firstLine .thirdBlock:hover ul li,
.firstLine .fourthBlock:hover ul li,
.firstLine .fifthBlock:hover ul li,
.secondLine .firstBlock:hover ul li,
.secondLine .secondBlock:hover ul li,
.secondLine .thirdBlock:hover ul li,
.secondLine .fourthBlock:hover ul li,
.secondLine .fifthBlock:hover ul li,
.thirdLine .firstBlock:hover ul li,
.thirdLine .secondBlock:hover ul li,
.thirdLine .thirdBlock:hover ul li,
.thirdLine .fourthBlock:hover ul li,
.thirdLine .fifthBlock:hover ul li,
.fourthLine .firstBlock:hover ul li,
.fourthLine .secondBlock:hover ul li,
.fourthLine .thirdBlock:hover ul li,
.fourthLine .fourthBlock:hover ul li,
.fourthLine .fifthBlock:hover ul li,
.fifthLine .firstBlock:hover ul li,
.fifthLine .secondBlock:hover ul li,
.fifthLine .thirdBlock:hover ul li,
.fifthLine .fourthBlock:hover ul li,
.fifthLine .fifthBlock:hover ul li,
.sixLine .firstBlock:hover ul li,
.sixLine .secondBlock:hover ul li {
  opacity: 1;
}
#ostavit_zayavku {
  background: rgb(248, 227, 188);
  width: 100%;
}

#kontakty {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .rightside ul li,
footer .leftside ul li {
  list-style-type: none;
  font-family: 'Opensans Regular';
  font-size: 18px;
}
footer .social img,
footer .social p {
  display: inline-block;
}
footer .social img {
  vertical-align: middle;
}
footer .social p {
  color: #fff;
}

.social {
  margin-left: 6px;
}
footer .rightside ul li a,
footer .leftside ul li a {
  color: #fff;
  position: relative;
}
footer .rightside ul li a:hover,
footer .leftside ul li a:hover,
footer .social p:hover {
  color: orangered;
}
.copyright {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Opensans Regular';
  font-size: 18px;
}
.copyright a:hover {
  color: orangered;
}
.rightside ul li a:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url('./img/earth.png') no-repeat;
  position: absolute;
  top: 0;
  left: -35px;
}

/*@media queries*/

@media only screen and (max-device-width: 479px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100%;
    display: block;
    background: url('./img/fon.jpg') 10% 0 no-repeat;
    background-size: cover;
  }
  #wrapper {
    width: 100%;
  }
  .layout {
    display: block;
    width: 100%;
  }
  .logo {
    display: block;
  }
  .logo hr {
    display: none;
  }
  .logo h1 {
    color: orangered;
  }
  img {
    display: none;
  }
  header {
    background: url('./img/logo.png') 50% 0 no-repeat;
    display: block;
    flex-direction: column;
  }
  .logo h3 {
    text-align: center;
  }
  .marginHeaderH1 h1 {
    /* margin-left: 100px; */
    text-align: center;
    margin-top: 160px;
  }
  .center_menu {
    background: black;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: white;
    text-align: center;
    position: relative;
    line-height: 40px;
    margin-top: -10px;
  }
  input {
    display: none;
  }
  label {
    display: block;
    width: 100%;
    cursor: pointer;
  }

  .hamburger_menu {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background: white;
    transition: 0.5s all;
    transform: rotate(360deg);
  }
  .second,
  .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }

  nav {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    z-index: 5;
  }
  nav a {
    color: oldlace;
    display: block;
    background: black;
    /* width: 100%; */
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  nav a:hover {
    background-color: coral;
  }

  #menu:checked ~ nav {
    max-height: 500px;
    font-size: 18px;
  }

  #menu:checked ~ .first,
  #menu:checked ~ .fourth {
    display: none;
  }
  #menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #menu:checked ~ .third {
    transform: rotate(-45deg);
  }

  main p {
    display: none;
  }

  button {
    display: block;
    margin: 0 auto;
  }
  nav ul {
    display: block;
    margin-left: 0;
    padding-top: 0;
  }
  .firstLine,
  .secondLine,
  .thirdLine,
  .fourthLine,
  .fifthLine,
  .sixLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .firstLine .firstBlock,
  .firstLine .secondBlock,
  .firstLine .thirdBlock,
  .firstLine .fourthBlock,
  .firstLine .fifthBlock,
  .secondLine .firstBlock,
  .secondLine .secondBlock,
  .secondLine .thirdBlock,
  .secondLine .fourthBlock,
  .secondLine .fifthBlock,
  .thirdLine .firstBlock,
  .thirdLine .secondBlock,
  .thirdLine .thirdBlock,
  .thirdLine .fourthBlock,
  .thirdLine .fifthBlock,
  .fourthLine .firstBlock,
  .fourthLine .secondBlock,
  .fourthLine .thirdBlock,
  .fourthLine .fourthBlock,
  .fourthLine .fifthBlock,
  .fifthLine .firstBlock,
  .fifthLine .secondBlock,
  .fifthLine .thirdBlock,
  .fifthLine .fourthBlock,
  .fifthLine .fifthBlock,
  .sixLine .firstBlock,
  .sixLine .secondBlock {
    display: block;
    width: 140px;
    opacity: none;
    height: 150px;
    margin: 10px;
  }
  .firstLine .firstBlock img,
  .firstLine .secondBlock img,
  .firstLine .thirdBlock img,
  .firstLine .fourthBlock img,
  .firstLine .fifthBlock img,
  .secondLine .firstBlock img,
  .secondLine .secondBlock img,
  .secondLine .thirdBlock img,
  .secondLine .fourthBlock img,
  .secondLine .fifthBlock img,
  .thirdLine .firstBlock img,
  .thirdLine .secondBlock img,
  .thirdLine .thirdBlock img,
  .thirdLine .fourthBlock img,
  .thirdLine .fifthBlock img,
  .fourthLine .firstBlock img,
  .fourthLine .secondBlock img,
  .fourthLine .thirdBlock img,
  .fourthLine .fourthBlock img,
  .fourthLine .fifthBlock img,
  .fifthLine .firstBlock img,
  .fifthLine .secondBlock img,
  .fifthLine .thirdBlock img,
  .fifthLine .fourthBlock img,
  .fifthLine .fifthBlock img,
  .sixLine .firstBlock img,
  .sixLine .secondBlock img {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    transform: translateY(15px);
  }
  footer {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #kontakty {
    display: block;
  }
  .rightside ul li a:before {
    background: none;
  }

  #menu:checked ~ nav main {
    transform: translateY(100px);
  }
  .firstLine .firstBlock:hover .info,
  .firstLine .secondBlock:hover .info,
  .firstLine .thirdBlock:hover .info,
  .firstLine .fourthBlock:hover .info,
  .firstLine .fifthBlock:hover .info,
  .secondLine .firstBlock:hover .info,
  .secondLine .secondBlock:hover .info,
  .secondLine .thirdBlock:hover .info,
  .secondLine .fourthBlock:hover .info,
  .secondLine .fifthBlock:hover .info,
  .thirdLine .firstBlock:hover .info,
  .thirdLine .secondBlock:hover .info,
  .thirdLine .thirdBlock:hover .info,
  .thirdLine .fourthBlock:hover .info,
  .thirdLine .fifthBlock:hover .info,
  .fourthLine .firstBlock:hover .info,
  .fourthLine .secondBlock:hover .info,
  .fourthLine .thirdBlock:hover .info,
  .fourthLine .fourthBlock:hover .info,
  .fourthLine .fifthBlock:hover .info,
  .fifthLine .firstBlock:hover .info,
  .fifthLine .secondBlock:hover .info,
  .fifthLine .thirdBlock:hover .info,
  .fifthLine .fourthBlock:hover .info,
  .fifthLine .fifthBlock:hover .info,
  .sixLine .firstBlock:hover .info,
  .sixLine .secondBlock:hover .info {
    transform: translateY(-120px);
    margin-top: 55px;
  }
  .allBlocks h3 {
    font-size: 14px;
  }
  .allBlocks ul li {
    font-size: 12px;
  }
  .firstLine .firstBlock:hover img,
  .firstLine .secondBlock:hover img,
  .firstLine .thirdBlock:hover img,
  .firstLine .fourthBlock:hover img,
  .firstLine .fifthBlock:hover img,
  .secondLine .firstBlock:hover img,
  .secondLine .secondBlock:hover img,
  .secondLine .thirdBlock:hover img,
  .secondLine .fourthBlock:hover img,
  .secondLine .fifthBlock:hover img,
  .thirdLine .firstBlock:hover img,
  .thirdLine .secondBlock:hover img,
  .thirdLine .thirdBlock:hover img,
  .thirdLine .fourthBlock:hover img,
  .thirdLine .fifthBlock:hover img,
  .fourthLine .firstBlock:hover img,
  .fourthLine .secondBlock:hover img,
  .fourthLine .thirdBlock:hover img,
  .fourthLine .fourthBlock:hover img,
  .fourthLine .fifthBlock:hover img,
  .fifthLine .firstBlock:hover img,
  .fifthLine .secondBlock:hover img,
  .fifthLine .thirdBlock:hover img,
  .fifthLine .fourthBlock:hover img,
  .fifthLine .fifthBlock:hover img,
  .sixLine .firstBlock:hover img,
  .sixLine .secondBlock:hover img {
    transform: translateY(80px);
  }
  .firstLine .thirdBlock:hover img,
  .firstLine .fourthBlock:hover img {
    width: 30px;
    height: 30px;
    transform: translateY(110px);
  }
  .firstLine .thirdBlock:hover .info,
  .firstLine .fourthBlock:hover .info {
    margin-top: 90px;
  }

  .secondLine .secondBlock:hover img,
  .secondLine .fifthBlock:hover img {
    width: 30px;
    height: 30px;
    transform: translateY(110px);
  }

  .secondLine .secondBlock:hover .info,
  .secondLine .fifthBlock:hover .info {
    margin-top: 90px;
  }
  .secondLine .firstBlock:hover img {
    width: 28px;
    height: 28px;
    transform: translateY(120px);
  }
  .secondLine .firstBlock:hover .info {
    margin-top: 90px;
  }
  .secondLine .fourthBlock:hover img {
    width: 45px;
    height: 45px;
    transform: translateY(100px);
  }
  .secondLine .fourthBlock:hover .info {
    margin-top: 75px;
  }

  .thirdLine .thirdBlock:hover img,
  .thirdLine .fourthBlock:hover img {
    width: 45px;
    height: 45px;
    transform: translateY(105px);
  }
  .thirdLine .thirdBlock:hover .info,
  .thirdLine .fourthBlock:hover .info {
    margin-top: 75px;
  }
  .thirdLine .fifthBlock:hover .info {
    margin-top: 60px;
  }
  .thirdLine .fifthBlock:hover img {
    width: 60px;
    height: 60px;
    transform: translateY(90px);
  }
  .fourthLine .thirdBlock:hover img {
    width: 60px;
    height: 60px;
    transform: translateY(90px);
  }
  .fourthLine .thirdBlock:hover .info {
    margin-top: 60px;
  }
  .fifthLine .thirdBlock:hover img,
  .fifthLine .fourthBlock:hover img {
    width: 55px;
    height: 55px;
    transform: translateY(95px);
  }
  .fifthLine .thirdBlock:hover .info,
  .fifthLine .fourthBlock:hover .info {
    margin-top: 65px;
  }
  .sixLine .firstBlock:hover img {
    width: 25px;
    height: 25px;
    transform: translateY(120px);
  }
  .sixLine .firstBlock:hover .info {
    margin-top: 95px;
  }
}

/*@media  and (max-device-width: 480px) */

@media only screen and (min-device-width: 480px) and (max-device-width: 1367px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100%;
    display: block;
    background: url('./img/fon1.jpeg') 30% 0 no-repeat;
    background-size: cover;
  }
  #wrapper {
    width: 100%;
  }
  .layout {
    display: block;
    width: 100%;
  }
  .logo {
    display: block;
  }
  .logo hr {
    display: none;
  }
  .logo h1 {
    color: orangered;
  }
  img {
    display: none;
  }
  .logo h3 {
    margin-left: 100px;
  }
  header {
    background: url('./img/logo.png') 50% 0 no-repeat;
    display: block;
    flex-direction: column;
  }
  .marginHeaderH1 h1 {
    margin-top: 160px;
    margin-left: 100px;
  }
  .center_menu {
    background: black;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: white;
    text-align: center;
    position: relative;
    line-height: 40px;
    margin-top: -10px;
  }
  input {
    display: none;
  }
  label {
    display: block;
    width: 100%;
    cursor: pointer;
  }

  .hamburger_menu {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background: white;
    transition: 0.5s all;
    transform: rotate(1turn);
  }
  .second,
  .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }

  nav {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    z-index: 10;
  }
  nav a {
    color: oldlace;
    display: block;
    background: black;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  nav a:hover {
    background-color: coral;
  }

  #menu:checked ~ nav {
    max-height: 500px;
    font-size: 18px;
  }

  #menu:checked ~ .first,
  #menu:checked ~ .fourth {
    display: none;
  }
  #menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #menu:checked ~ .third {
    transform: rotate(-45deg);
  }

  main p {
    display: none;
  }

  button {
    display: block;
    margin: 0 auto;
  }
  nav ul {
    display: block;
    margin-left: 50px;
    padding-top: 0;
  }
  .firstLine,
  .secondLine,
  .thirdLine,
  .fourthLine,
  .fifthLine,
  .sixLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .firstLine .firstBlock,
  .firstLine .secondBlock,
  .firstLine .thirdBlock,
  .firstLine .fourthBlock,
  .firstLine .fifthBlock,
  .secondLine .firstBlock,
  .secondLine .secondBlock,
  .secondLine .thirdBlock,
  .secondLine .fourthBlock,
  .secondLine .fifthBlock,
  .thirdLine .firstBlock,
  .thirdLine .secondBlock,
  .thirdLine .thirdBlock,
  .thirdLine .fourthBlock,
  .thirdLine .fifthBlock,
  .fourthLine .firstBlock,
  .fourthLine .secondBlock,
  .fourthLine .thirdBlock,
  .fourthLine .fourthBlock,
  .fourthLine .fifthBlock,
  .fifthLine .firstBlock,
  .fifthLine .secondBlock,
  .fifthLine .thirdBlock,
  .fifthLine .fourthBlock,
  .fifthLine .fifthBlock,
  .sixLine .firstBlock,
  .sixLine .secondBlock {
    display: block;
    width: 140px;
    opacity: none;
    height: 150px;
    margin: 10px;
  }
  .firstLine .firstBlock img,
  .firstLine .secondBlock img,
  .firstLine .thirdBlock img,
  .firstLine .fourthBlock img,
  .firstLine .fifthBlock img,
  .secondLine .firstBlock img,
  .secondLine .secondBlock img,
  .secondLine .thirdBlock img,
  .secondLine .fourthBlock img,
  .secondLine .fifthBlock img,
  .thirdLine .firstBlock img,
  .thirdLine .secondBlock img,
  .thirdLine .thirdBlock img,
  .thirdLine .fourthBlock img,
  .thirdLine .fifthBlock img,
  .fourthLine .firstBlock img,
  .fourthLine .secondBlock img,
  .fourthLine .thirdBlock img,
  .fourthLine .fourthBlock img,
  .fourthLine .fifthBlock img,
  .fifthLine .firstBlock img,
  .fifthLine .secondBlock img,
  .fifthLine .thirdBlock img,
  .fifthLine .fourthBlock img,
  .fifthLine .fifthBlock img,
  .sixLine .firstBlock img,
  .sixLine .secondBlock img {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    transform: translateY(15px);
  }
  footer {
    display: block;
    margin: 0 auto;
  }
  #kontakty {
    display: flex;
  }
  .rightside ul li a:before {
    background: none;
  }

  #menu:checked ~ nav main {
    transform: translateY(100px);
  }
  .firstLine .firstBlock:hover .info,
  .firstLine .secondBlock:hover .info,
  .firstLine .thirdBlock:hover .info,
  .firstLine .fourthBlock:hover .info,
  .firstLine .fifthBlock:hover .info,
  .secondLine .firstBlock:hover .info,
  .secondLine .secondBlock:hover .info,
  .secondLine .thirdBlock:hover .info,
  .secondLine .fourthBlock:hover .info,
  .secondLine .fifthBlock:hover .info,
  .thirdLine .firstBlock:hover .info,
  .thirdLine .secondBlock:hover .info,
  .thirdLine .thirdBlock:hover .info,
  .thirdLine .fourthBlock:hover .info,
  .thirdLine .fifthBlock:hover .info,
  .fourthLine .firstBlock:hover .info,
  .fourthLine .secondBlock:hover .info,
  .fourthLine .thirdBlock:hover .info,
  .fourthLine .fourthBlock:hover .info,
  .fourthLine .fifthBlock:hover .info,
  .fifthLine .firstBlock:hover .info,
  .fifthLine .secondBlock:hover .info,
  .fifthLine .thirdBlock:hover .info,
  .fifthLine .fourthBlock:hover .info,
  .fifthLine .fifthBlock:hover .info,
  .sixLine .firstBlock:hover .info,
  .sixLine .secondBlock:hover .info {
    transform: translateY(-120px);
    margin-top: 55px;
  }
  .allBlocks h3 {
    font-size: 14px;
  }
  .allBlocks ul li {
    font-size: 12px;
  }
  .firstLine .firstBlock:hover img,
  .firstLine .secondBlock:hover img,
  .firstLine .thirdBlock:hover img,
  .firstLine .fourthBlock:hover img,
  .firstLine .fifthBlock:hover img,
  .secondLine .firstBlock:hover img,
  .secondLine .secondBlock:hover img,
  .secondLine .thirdBlock:hover img,
  .secondLine .fourthBlock:hover img,
  .secondLine .fifthBlock:hover img,
  .thirdLine .firstBlock:hover img,
  .thirdLine .secondBlock:hover img,
  .thirdLine .thirdBlock:hover img,
  .thirdLine .fourthBlock:hover img,
  .thirdLine .fifthBlock:hover img,
  .fourthLine .firstBlock:hover img,
  .fourthLine .secondBlock:hover img,
  .fourthLine .thirdBlock:hover img,
  .fourthLine .fourthBlock:hover img,
  .fourthLine .fifthBlock:hover img,
  .fifthLine .firstBlock:hover img,
  .fifthLine .secondBlock:hover img,
  .fifthLine .thirdBlock:hover img,
  .fifthLine .fourthBlock:hover img,
  .fifthLine .fifthBlock:hover img,
  .sixLine .firstBlock:hover img,
  .sixLine .secondBlock:hover img {
    transform: translateY(80px);
  }
  .firstLine .thirdBlock:hover img,
  .firstLine .fourthBlock:hover img {
    width: 30px;
    height: 30px;
    transform: translateY(110px);
  }
  .firstLine .thirdBlock:hover .info,
  .firstLine .fourthBlock:hover .info {
    margin-top: 90px;
  }

  .secondLine .secondBlock:hover img,
  .secondLine .fifthBlock:hover img {
    width: 30px;
    height: 30px;
    transform: translateY(110px);
  }

  .secondLine .secondBlock:hover .info,
  .secondLine .fifthBlock:hover .info {
    margin-top: 90px;
  }
  .secondLine .firstBlock:hover img {
    width: 28px;
    height: 28px;
    transform: translateY(120px);
  }
  .secondLine .firstBlock:hover .info {
    margin-top: 90px;
  }
  .secondLine .fourthBlock:hover img {
    width: 45px;
    height: 45px;
    transform: translateY(100px);
  }
  .secondLine .fourthBlock:hover .info {
    margin-top: 75px;
  }

  .thirdLine .thirdBlock:hover img,
  .thirdLine .fourthBlock:hover img {
    width: 45px;
    height: 45px;
    transform: translateY(105px);
  }
  .thirdLine .thirdBlock:hover .info,
  .thirdLine .fourthBlock:hover .info {
    margin-top: 75px;
  }
  .thirdLine .fifthBlock:hover .info {
    margin-top: 60px;
  }
  .thirdLine .fifthBlock:hover img {
    width: 60px;
    height: 60px;
    transform: translateY(90px);
  }
  .fourthLine .thirdBlock:hover img {
    width: 60px;
    height: 60px;
    transform: translateY(90px);
  }
  .fourthLine .thirdBlock:hover .info {
    margin-top: 60px;
  }
  .fifthLine .thirdBlock:hover img,
  .fifthLine .fourthBlock:hover img {
    width: 55px;
    height: 55px;
    transform: translateY(95px);
  }
  .fifthLine .thirdBlock:hover .info,
  .fifthLine .fourthBlock:hover .info {
    margin-top: 65px;
  }
  .sixLine .firstBlock:hover img {
    width: 25px;
    height: 25px;
    transform: translateY(120px);
  }
  .sixLine .firstBlock:hover .info {
    margin-top: 95px;
  }
}

/*@media */
@media only screen and (min-device-width: 1368px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    display: flex;
    flex-direction: row;
  }
  .center_menu {
    display: none;
  }
  .logo a {
    display: flex;
    flex-direction: row;
  }

  .logo h3 {
    text-align: center;
  }
  .logo img,
  .logo h1,
  .logo h3 {
    cursor: pointer;
    color: rgb(43, 41, 41);
  }
  .logo hr {
    width: 70%;
    border: 1px solid #455b5f;
  }
  a {
    text-decoration: none;
  }
  .marginHeaderH1 {
    margin-top: 20px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    margin-left: 105px;
    padding-top: 70px;
  }
  nav ul li:nth-child(2),
  nav ul li:nth-child(3),
  nav ul li:nth-child(4) {
    margin-left: 55px;
  }
  nav ul li {
    list-style: none;
    transition: 0.5s linear;
  }
  nav ul li a {
    font-family: 'OpenSans Regular';
    font-size: 25px;
    color: rgb(43, 41, 41);
  }
  nav ul li:hover a {
    color: orangered;
  }
  nav ul li:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s linear;
  }
}
